.auth{
    margin-left: 300px;
    margin-right: 100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

    h2{
	color:#800080;
	font-family: Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
    margin-bottom: 20px;
}

.authcontainer{
    border: solid 1px gray;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 10px;
   display: flex;
   justify-content: space-around;
   border-radius: 10px;
}
label{
    font-size: 20px;
    margin-right: 10px;
    font-family: cursive;
    color: dimgray;
    width: 100px;
    margin: 10px;
}
input{
    margin: 10px;
    height: 26px;
    border-radius: 5px;
    border-color: darkgrey;
}
button{
    margin: 0px;
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #38f9d7;
    border: 0px;
    margin-left: 180px;
    font-family: cursive;
    
}
button:disabled{
    background-color: rgb(165, 163, 160);
}

button :hover{
    color: white;
}